---
layout: default
---

<div class="page-content">
    <aside class="main-sidebar">
        <div class="main-sidebar__title-wrapper">
            <h3 data-toc-skip class="tablet-show main-sidebar__title">{{ site.data.sidebars[page.sidebar].title }}</h3>
        </div>
        <a href="#" class="main-sidebar__opener tablet-hidden js-main-sidebar-switcher" aria-label="sidebar desktop opener">
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
        </a>
        <a href="#" class="main-sidebar__opener tablet-show js-main-sidebar-opener" aria-label="sidebar mobile opener">
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
            <span class="main-sidebar__opener-decorator"></span>
        </a>
        <div class="main-sidebar__popup">
            <div class="main-sidebar__inner">
                <div class="main-sidebar__header">
                    <a href="#" class="main-sidebar__close"></a>
                </div>
                <div class="main-sidebar__slide">
                    <h3 class="main-sidebar__title" data-toc-skip>{{ site.data.sidebars[page.sidebar].title }}</h3>

                    {% unless page.hide_sidebar %}
                    <div id="tg-sb-sidebar">
                        {% render_sidebar %}
                    </div>
                    {% endunless %}
                </div>
            </div>
        </div>
    </aside>
    <div class="post-content"></div>
</div>
